<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook | Login</title>
    <link rel="stylesheet" href="style.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<h1 class="log-in">Log In</h1>

<div class="login-form">  
<form action="/login" method="post">
<label for="name"><span class="label">Name :</span> </label>
<input type="text" required name="name" id="name" autocomplete="none"><br><br>
<label for="password"><span class="label">Password :</span> </label>
<input type="password" name="password" id="pass" required><br><br>
<button class="submit">Log in</button>

</form>  
</div>
<div class="des">
  <span class="note">note </span> : please do not put your own password <span class="emoji">&#128581</span> 


</div>



</body>
</html>